* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #70c5ce 0%, #ffffff 100%);
    overflow: hidden;
}

.score-history {
    background-color: rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
    padding: 1rem;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 5px;
    text-align: left;
    font-weight: 600;
    border: 1px solid #ffffffa1;
    border-radius: 0.7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    z-index: 100000;
}

.score-title {
    padding-bottom: 0.3rem;
    margin-bottom: 0.3rem;
}

.score-history p {
    display: flex;
    justify-content: space-between;
}

#game-container {
    width: 100%;
    height: 100%;
    position: relative;
}

img.bird {
    position: absolute;
    width: 100px;
    height: 85px;
    top: 50px;
    left: 50px;
    transform: translate(-50% -50%);
    object-fit: cover;
    transition: top 0.1s;
    image-rendering: optimizeQuality;
    display: none;
}

img.bird2 {
    display: none;
}

.bg-container{
    width: 100%;
    overflow: hidden;
}

.bg-container img {
    width: 120px;
    height: auto;
    top: 20%;
    position: absolute;
    image-rendering: pixelated;
    object-fit: contain;
    animation: carrosel 15s linear infinite;
}

#start-screen {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.start-screen img  {    
    margin-bottom: 1.5rem;
    animation: zoom 5s infinite;
}

.botoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.7rem;
    margin-top: 2rem;
}

.start-screen button, 
#difficulty-select {
    width: 40%;
    text-align: center;
    padding: 0.5rem 1.5rem !important;
    border-radius: 0.7rem;
    border: none !important;
    background-color: #9EEA58;
    color: #FFFFFF;
    font-weight: 600;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    cursor: pointer;
    transition: 0.3s;
    outline-color: #FFFFFF;
    appearance: none;
}

.start-screen button:hover {
    opacity: 0.9;
    scale: 1.1;
}

#score-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 20px;
    z-index: 10;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.score {
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.solo-container {
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%);
    width: 100%;
    overflow: hidden;
    background: #964b00;
    padding: 0.9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.solo-container p {
    color: #F3F2A6;
    font-weight: 600;
    animation: opacidade 2s infinite;
}

.game-over {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-over img {
    image-rendering: optimizeQuality;
    animation: zoom 3s infinite;
}

#gameCanvas {
    display: none;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #70c5ce 0%, #ffffff 100%);
}

@keyframes zoom {
    0% {
        scale: 1;
    }
    50% {
        scale: 1.2;
    }
    100% {
        scale: 1;
    }
}

@keyframes opacidade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0.5;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes carrosel {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100vw);
    }
}

.rotate-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    z-index: 1000000;
}

@media (max-width: 480px) and (orientation: portrait) {
    .rotate-message {
        display: block;
    }

    #game-container {
        display: none;
    }
}
